<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
</head>

<body>

<nav th:replace="fragments/head.html :: navigation">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/products/new}">Add Product</a>
        </div>

        <form class="form-inline" method="get">
            <div class="form-group mb-2 mr-2">
                <label for="nameFilter" class="sr-only">Filter</label>
                <input type="text" class="form-control" id="nameFilter" th:value="${param.nameFilter}"
                       name="nameFilter" placeholder="Name filter">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Apply</button>
        </form>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Id', 'id')">
                    </th>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Title', 'title')">
                    </th>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Price', 'price')">
                    </th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${products.empty}" th:each="product : ${products}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.title}">Product 1</td>
                    <td th:text="${product.price}">1000.00</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/products/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/products/{id}/(id = ${product.id})}">
                            <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>

                <tr th:if="${products.empty}">
                    <td colspan="5">No data</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-12">
            <nav aria-label="...">
                <!-- Pagination -->
                <ul class="pagination">

                    <li th:classappend="${products.first} ? 'disabled'" class="page-item">
                        <a class="page-link"
                           th:href="@{/products(nameFilter=${param.nameFilter}, page=${products.number}, size=${products.size}, sortField=${param.sortField})}"
                           tabindex="-1">Previous</a>
                    </li>

                    <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">
                        <a class="page-link"
                           th:href="@{/products(nameFilter=${param.nameFilter}, page=${num}, size=${products.size}, sortField=${param.sortField})}">[[${num}]]
                            <span th:if="${num == products.number + 1}" class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li th:classappend="${products.last} ? 'disabled'" class="page-item">
                        <a class="page-link"
                           th:href="@{/products(nameFilter=${param.nameFilter}, page=${products.number +2}, size=${products.size}, sortField=${param.sortField})}"
                        >Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts">
</th:block>

</body>
</html>